* {
    margin: 0;
    padding: 0;

}


a {
    color: black;
    text-decoration: none;}


/*fonts*/
body {
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
   background-color: rgb(141, 115, 88);
   text-align: center;
   background-image: url(Sky4.png);
   background-attachment: fixed;
}

.back {
    background-color:rgb(133 72 61);
}
.column {
    width:300px;
    margin:7px;
    border:.5px solid black;
    padding:5px;
    box-shadow:0 5px 5px 0 rgb(84, 28, 28);
    height:430px;
}



/*headings*/

h1 {
    font-size: 85px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
     font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-size: 20 px;
    font-weight: normal;
    text-align: center;
    margin-bottom:30px;
    font-style:oblique;
    
}

h4{
    text-align: center;
}


a {
    color: black;
    text-decoration: none;
}

section {
   display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:stretch;
    padding:20px;
   gap:25px;
}

div{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:stretch;
}



header {
  top: 0;
  z-index: 999;
  height: 50px;
  font-size: 40px;
  text-align:right;
  background-color: rgb(112 60 51);
}

footer{
   
    background-color:rgb(112 60 51) ;
    height:60px;
}



